html {
    height: 100%;
    background: radial-gradient(circle, white, gray, black);
}

#container {
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    position: relative;             /*For giving absolute position of score box*/
}

#score {
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;
    padding: 10px;
    left: 450px;
    border-radius: 5px;
    box-shadow: 3px 3px ;
    position: absolute;
}

#correct {
    position: absolute;
    left: 240px;
    background-color: green;
    color: white;
    padding: 11px;
    display: none;
}

#wrong {
    position: absolute;
    left: 240px;
    background-color: red;
    padding: 11px;
    display: none;
}

#question {
    width: 450px;
    height: 140px;
    margin: 50px auto 10px auto;
    background-color: mediumpurple;
    box-shadow: 3px 4px black;
    border-radius: 5px;
    font-size: 100px;
    text-align: center;
}

#instruction {
    width: 450px;
    height: 50px;
    background-color: cadetblue;
    margin: 10px auto;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

#choices {
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box {
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    box-shadow: 3px 3px black;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover {
    background-color: purple;
    color: white;
    box-shadow: 0px 4px black;
}

.box:active, #startrest:active {
    box-shadow: 0px 0px black;
    top: 4px;
}

#box4 {
    margin-right: 0px;
}

#startreset {
    width: 85px;
    height: 50px;
    padding: 10px;
    background-color: rgb(58, 173, 35);
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 3px 3px black;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#timeremaining {
    width: 90px;
    padding: 10px;
    position: absolute;
    top: 400px;
    left: 390px;
    background-color: rgb(136, 201, 15);
    box-shadow: 2px 2px black;
    border-radius: 2px;
    display: none;
}