html {
    height: 100%;
    background: radial-gradient(circle, white, gray, black);
}

#container {
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    position: relative;             /*For giving absolute position of score box*/
}

#score {
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;
    padding: 10px;
    left: 450px;
    border-radius: 5px;
    box-shadow: 3px 3px ;
    position: absolute;
}